<html>

  <head>
    <link rel="stylesheet" type="text/css" href="style.css">

   </head>

  <body>

    <div id="main">
        <button id="button"> Get Description </button>
    </div>
    <p id="description"> </p>

  </body>

  <script src="page.js"> </script>
</html>
