<html>

  <head>
    <link rel="stylesheet" type="text/css" href="style.css">

   </head>

  <body>

    <form id="dogForm">
      <label> Dog Inspector </label>
      <select id="doggies" name="dogBreed">
        <option value="affenpinscher"> affenpinscher </option>
      </select>

    </form>
    <button id="doggiesButton"> load Doggos </button>


    <script src="page.js"> </script>


  </body>
</html>
